@media only screen and (max-width: 1024px){
  html{
    font:18px;
    line-height: 1.4;
    font-family:Helvetica;
  }

  .header{
    background-image: url(../pictures/glasses-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:22rem;
    display: flex;
    flex-direction: column;
  }


  .navbox{
    display: flex;
    align-items: center;
    flex-direction:column;
    }

    .container{
        width:100%;
    }

  .title{
    color: white;
    background-color:cadetblue;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }


  .box{

    margin-top: 5rem;
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;

  }

  .box h1{

    font-size: 1.33rem;
    font-weight: bold;
    line-height:1.2;
    padding:.75rem 4rem;
    background-color: white;
    align-items: center;

  }
  .philosophy{
    display: flex;
    justify-content: center;
    margin-top: 3rem;

  }

  .listing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:8rem;
    padding-right: 6rem;
    flex-wrap: wrap;
    text-align: center;
  }

  .exams{
    width:3.5rem;
  }

  .ruler{
    width:5rem;
  }

  .train{
    width: 5rem;
  }

  .listing span{
    font-size: 1rem;
    font-weight: bold;
  }
